/* this section is for the entire HTML page mesurments */
html {
    height: 100%;
    background-image: linear-gradient(0deg, #84fab0 0%, #8fd3f4 100%);
}


/* this section controls the main section of the HTML page */
main {
    font-family: 'Courier New', monospace;
    margin: 2%;
    padding: 50px;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
}
/* this section controls the class="output-class" section of the HTML page */
.output-class{
    margin: 2%;
    min-width: 96%;
    width: max-content;
    overflow: wrap;
}
/* This section controls the ASCII WEB Title */
.title-class{
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* ------------------------------------------------------------- */


/*----Style Banner Container---*/
.banner-class {
    height: 80px;
    padding-left: 270px;
    border: 3px solid #c3c3c3;
    display: flex;
}
/*----Style Banner Selection Box---*/
.banner-class select{
    height: 50px;
    border: 10px solid #cc0808;
}
/*----Style Banner header Text---*/
.banner-class h3{
    padding-left: 89px;
    color: #b4a309;
    text-align: left;
}

/* -----------------------------------Button--------------------------- */
#convert-btn-id {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
/* change Converst Buton on mouse hover */
#convert-btn-id:hover {
  background-color: #3060c0;
  text-decoration: none;
  transition-duration: 0.1s;
}
/* change Converst Buton on Click */
#convert-btn-id:active {
  background-color: #b0d617;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
/* This section controls thge text output fild */
pre {
    text-align: left;
    font-weight: bolder;
    color: #cc0808;
    /* background-color: #b0d617; */
}

